<html ng-app="app1" ng-init="person = {fName: 'Derek', lName: 'Arnold'}; capitals = [{city: 'Phoenix', state: 'Arizona'},{city: 'Juneau', state: 'Alaska'},{city: 'Montgomery', state: 'Arizona'}]">
    <head>
        <title>AngularJS Tutorial</title>
    </head>
    <body>
        <h1>AngularJS Tutorial</h1>
        <div ng-controller="ctrl1">
            <span>Values:</span><br/>
            <input type="text" ng-model="first"/><br/>
            <input type="text" ng-model="second"/><br/>
            <button ng-click="updateValue()">Sum</button>
            <br><br>
            {{ calculation }}
            <hr>
            <p>{{ person.fName }} {{ person.lName }}</p>
            <p>Variables: {{ first }} {{ second }}</p>
            <p>Length: {{ capitals.length }}</p>
            <p><b>How to use ng-repeat:</b></p>
            <ul>
                <li ng-repeat="capital in capitals">
                    City: {{ capital.city }}, {{ capital.state }}
                </li>
            </ul>
            <hr>
            <input ng-model="test">
            <button ng-click="doubleString()">Double</button>
            {{ double }}

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="js/01_Basic_01_HelloWorld.js"></script>
    </body>
</html>